html, body {
	background: #d5d5d5;
}

.text-base {
	color: #495057 !important;
}

.width-max-content {
	max-width: max-content !important;
}

.visibility-hidden {
	visibility: hidden !important;
}

.text-blue {
	color: #0288D1 !important;
}

